<div class="mb-20">
  <div class="border-b pb-7 mb-7">
    <h2 class="text-4xl">ZenQi へようこそ!</h2>
  </div>
  <div class="flex">
    <div class="border-r w-1/2 p-2">
      <div class="border-b mb-6">
        <%= link_to 'GitHubで登録', new_user_session_path,
                    class: 'rounded py-1 mb-2 w-full bg-white text-center font-bold block border border-custom-gray hover:bg-gray-100' %>
        <%= link_to 'Googleで登録', new_user_session_path,
                    class: 'rounded py-1 mb-2 w-full bg-white text-center font-bold block border border-custom-gray hover:bg-gray-100' %>
        <%= link_to 'X(Twitter)で登録', new_user_session_path,
                    class: 'rounded py-1 mb-2 w-full bg-white text-center font-bold block border border-custom-gray hover:bg-gray-100' %>
        <p class="mb-4 text-sm text-gray-300">許可無くX(Twitter)に投稿することはありません。<br>
          X(Twitter)ログインに制限が生じる可能性がございます。<br>
          他のログイン方法の併用をお願いします。
          他のログイン方法を併用お願いします。</p>
      </div>
      <div>
        <%- if controller_name != 'sessions' %>
          <span class="text-sm text-gray-300">
            ZenQi のアカウントを持っている場合は
            <%= link_to 'ログイン', new_session_path(resource_name), class: 'text-blue-500' %>から。
          </span>
        <% end %>
      </div>
    </div>
    <div class=" w-1/2 p-2">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="mb-6">
          <%= f.input :email,
                      required: false,
                      placeholder: 'メールアドレス',
                      input_html: { autocomplete: 'email', class: 'rounded border-custom-gray py-1 mb-2 w-full focus:outline-custom-green' },
                      label: false %>
          <%= f.input :password,
                      required: false,
                      placeholder: 'パスワード',
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: 'new-password', class: 'rounded border-custom-gray py-1 mb-2 w-full focus:outline-custom-green' },
                      label: false %>
          <%= f.input :password_confirmation,
                      required: false,
                      placeholder: 'パスワード(確認)',
                      input_html: { autocomplete: 'new-password', class: 'rounded border-custom-gray py-1 mb-2 w-full focus:outline-custom-green' },
                      label: false %>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to 'パスワードを忘れた場合', new_password_path(resource_name), class: 'text-blue-500' %><br>
          <% end %>
        </div>
        <div class="">
          <%= f.button :submit, '登録する', class: 'font-bold text-center bg-custom-green py-2 w-full cusrsor-pointer' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
