<div class="p-2">
  <%= form_with(model: @user, url: user_path(@user), method: :put, data: { turbo: false }, html: { class: 'h-full' }) do |form| %>
    <% if @user.errors.any? %>
      <div>
        <p>エラーが発生しました:</p>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="h-full">
      <%= form.text_field :name,
                          placeholder: 'ユーザーネーム',
                          class: 'rounded border-none py-1 mb-2 w-full outline-none focus:outline-none focus:border-none font-bold text-2xl' %>
      <%= form.text_field :nickname,
                          placeholder: '名前',
                          class: 'rounded border-none py-1 mb-2 w-full focus:outline-none' %>
      <%= form.file_field :image,
                          class: 'rounded border-custom-gray py-1 mb-2 w-full h-full focus:outline-none focus:border-none' %>
      <% if @user.image.present? %>
        <span><b>[現在登録されている画像]</b></span>
        <%= image_tag @user.image, width: 200, class: 'mb-2' %>
      <% end %>
    </div>
    <div class="">
      <%= form.submit '保存', class: 'font-bold bg-white p-2 rounded-lg mr-2 cursor-pointer' %>
    </div>
  <% end %>
</div>
